ul.social-list {
    list-style: none;
}

ul.social-list li + li {
    margin-top: 15px;
}

ul.social-list li {
    font-size: 14px;
    color: #ecf0ff;
}

ul.social-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ecf0ff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #ecf0ff;
    width: 135px;
    height: 40px;
}

ul.social-list li a span {
    margin-left: 10px;
}

ul.social-list li a:hover {
    color: #080120;
    background: #ecf0ff;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input + input,
form input + textarea,
form textarea + button {
    margin-top: 15px;
}

form input {
    height: 40px;
}

form input,
form textarea {
    background: transparent;
    border: 1px solid #ecf0ff;
    padding: 10px;
    border-radius: 4px;
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
}

form input::placeholder,
form textarea::placeholder {
    color: #ecf0ff;
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    padding: 0 15px;
    border-radius: 8px;
    border: 2px solid #ecf0ff;
    background: transparent;
    color: #ecf0ff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

form button:hover {
    background: #ecf0ff;
    color: #080120;
}
